/* general */

*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 40px;
  font-family: 'Lacquer', sans-serif;
  font-family: 'Permanent Marker', cursive;
  color: red;
}


h5 {
  color: rgb(43, 103, 231);
  font-size: 40px;
}


/* menu  nav*/
.col-lg-12 {
  margin: 0;
  padding: 0;

}
section.nav.fixed-top{
  margin: 0;
  padding: 0;
  width: auto;
}

.nav {
  background-color: rgb(47, 83, 161);
  width: auto;
  height: auto;
  color: #fff;
  

}

.navbar-brand {
  font-size: 30px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.navbar-light .navbar-brand {
  color: #fff;
  font-family: 'Lacquer', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  margin-left: 20px;
  
}

.nav1 {
  position: relative;
  top: 20px;
  margin-left: auto;
  color: #fff;
}

.nav-link {
  font-size: 120%;
  font-weight: bolder;
  color: #fff;

}

.form-control {
  margin: 20px 0 0 50px;

}

.form-inline {
  top: 20px;


}

/* carousel  */
.carousel {
  margin-top: -20px;
  width: auto;
  height: auto;

}

.search-sec {
  padding: 2rem;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1A4668;
  }
}


/* agenda */

.actualite {
  width: auto;
  height: auto;
  background-image: url(./image/agendgeneral.jpg);
  background-size: cover;

}

.card-img{
  height: 300px;
  background-color: rgb(128, 126, 138);
}
.card-text{
  font-weight: bold;
  
}
p.card-text{
  color: #fff;
}

.iframe{
  background-color: rgb(235, 220, 201);
  margin-left: auto;
  padding: 20px;
  


}

/* play musique */
.playalbums {

  width: auto;
  height: auto;
}

/* play album */
.gallery{
  margin: 10px 30px;
  
}
.gallery img{
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.gallery img:hover{
  filter: sepia(100%);
  transform: scale(1.1);
}


/* contacts et lien */
footer{
  background-color:rgb(47, 83, 161)  ;
  margin-top: 1rem;
}
.card{
  background-color: rgb(47, 83, 161);
  
}
.card-title{
  color: #fff;
  
}

.card-body a{
  text-decoration: none;
  color: black;
}
.card-body a:hover{
  color:white;
}
/* video  */
#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.2);
}

header h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  color:skyblue;
  margin-top:5px;
  border-radius:40%;
  color:green;
  
}
.main{
    text-align:center;
    margin:150px;
    color:#fff;
    position:absolute;
    padding-left:25px;
}
/* drum music */

.music-box{
  width: 1400px;
  height: 900px;
  margin: 0 auto;
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  background: url(./image/djback.jpg) no-repeat center/cover;
  height: auto;
  overflow: hidden;
}
.drum{
  flex: 1 0 30%;
  padding: 2.5rem;
  margin: 0.5rem 1rem;
  text-align: center;
  background: cyan;
  box-shadow: 2px 2px 2px #333;
  cursor: pointer;
}
.drum:active{
  
  transform: scale(0.5);
  transition: 0.3s;
}







